*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #222;
    color: #fff;
    font-family: system-ui ;
    margin-left: 50px;
    margin-right: 50px;
    

}
.CRUD{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: #111;
    margin: 4px 0;
    border-radius: 6px;
    padding: 4px;
    color: #fff;
}
input:focus{
    background: #000;

}
.price input{
width: 20%;
}
#Total{
padding: 5px 2px;
background-color: #a00d02;
border-radius:4px;
}
#Total::before{
content: 'Total:';
}
button{
    width: 100%;
    border: none;
    height: 30px;
    cursor: pointer;
    background-color: #48adff;
    color: #fff;
    border-radius:20px ;
    transition: 0.5s;
    margin: 10px;
    
}
button:hover{
    background-color: #05448d;   

}
.btn-search{
    display: flex;
justify-content: space-between;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 10px;
}


